![Two data scientists working on a dashboard.](hr-image-small.png)

A common problem when creating models to generate business value from data is that the datasets can be so large that it can take days for the model to generate predictions. Ensuring that your dataset is stored as efficiently as possible is crucial for allowing these models to run on a more reasonable timescale without having to reduce the size of the dataset.

You've been hired by a major online data science training provider called *Training Data Ltd.* to clean up one of their largest customer datasets. This dataset will eventually be used to predict whether their students are looking for a new job or not, information that they will then use to direct them to prospective recruiters.

You've been given access to `customer_train.csv`, which is a subset of their entire customer dataset, so you can create a proof-of-concept of a much more efficient storage solution. The dataset contains anonymized student information, and whether they were looking for a new job or not during training:

| Column       | Description                                  |
|------------- |--------------------------------------------- |
| `student_id`   | A unique ID for each student.                 |
| `city`  | A code for the city the student lives in.  |
| `city_development_index` | A scaled development index for the city.       |
| `gender` | The student's gender.       |
| `relevant_experience` | An indicator of the student's work relevant experience.       |
| `enrolled_university` | The type of university course enrolled in (if any).       |
| `education_level` | The student's education level.       |
| `major_discipline` | The educational discipline of the student.       |
| `experience` | The student's total work experience (in years).       |
| `company_size` | The number of employees at the student's current employer.       |
| `last_new_job` | The number of years between the student's current and previous jobs.       |
| `training_hours` | The number of hours of training completed.       |
| `job_change` | An indicator of whether the student is looking for a new job (`1`) or not (`0`).       |

In [170]:
# Start your code here!
import pandas as pd

In [171]:
# Load the dataset
customer_train = pd.read_csv('customer_train.csv')
customer_train.head()

   student_id      city  ...  training_hours job_change
0        8949  city_103  ...              36          1
1       29725   city_40  ...              47          0
2       11561   city_21  ...              83          0
3       33241  city_115  ...              52          1
4         666  city_162  ...               8          0

[5 rows x 14 columns]

In [172]:
# Check dataset column names
customer_train.columns

Index(['student_id', 'city', 'city_development_index', 'gender',
       'relevant_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'company_size', 'company_type',
       'last_new_job', 'training_hours', 'job_change'],
      dtype='object')

In [173]:
# Convert data types as per requirement
# Columns containing integers must be stored as 32-bit integers (int32)
# Columns containing floats must be stored as 16-bit floats (float16)
# Columns containing nominal categorical data must be stored as the category data type

customer_train = customer_train.astype({
    'student_id': 'int32',
    'city': 'category',
    'city_development_index': 'float16',
    'gender': 'category',
    'relevant_experience': 'category',
    'enrolled_university': 'category',
    'education_level': 'category',
    'major_discipline': 'category',
    'experience': 'category',
    'company_size': 'category',
    'company_type': 'category',
    'last_new_job': 'category',
    'training_hours': 'int32',
    'job_change': 'int32'
})

customer_train.dtypes

student_id                   int32
city                      category
city_development_index     float16
gender                    category
relevant_experience       category
enrolled_university       category
education_level           category
major_discipline          category
experience                category
company_size              category
company_type              category
last_new_job              category
training_hours               int32
job_change                   int32
dtype: object

In [174]:
# Checking ordinal categories
customer_train['education_level'].value_counts()

Graduate          11598
Masters            4361
High School        2017
Phd                 414
Primary School      308
Name: education_level, dtype: int64

In [175]:
# Checking ordinal categories
customer_train['experience'].value_counts()

>20    3286
5      1430
4      1403
3      1354
6      1216
2      1127
7      1028
10      985
9       980
8       802
15      686
11      664
14      586
1       549
<1      522
16      508
12      494
13      399
17      342
19      304
18      280
20      148
Name: experience, dtype: int64

In [176]:
# Checking ordinal categories
customer_train['last_new_job'].value_counts()

1        8040
>4       3290
2        2900
never    2452
4        1029
3        1024
Name: last_new_job, dtype: int64

In [177]:
# Checking ordinal categories
customer_train['company_size'].value_counts()

50-99        3083
100-499      2571
10000+       2019
10-49        1471
1000-4999    1328
<10          1308
500-999       877
5000-9999     563
Name: company_size, dtype: int64

In [178]:
# Checking ordinal categories
customer_train['relevant_experience'].value_counts()

Has relevant experience    13792
No relevant experience      5366
Name: relevant_experience, dtype: int64

In [179]:
# Checking ordinal categories
customer_train['enrolled_university'].value_counts()

no_enrollment       13817
Full time course     3757
Part time course     1198
Name: enrolled_university, dtype: int64

In [180]:
# Defining ordered categories for education_level, experience, and last_new_job
education_level_order = [
    'Primary School', 
    'High School', 
    'Graduate', 
    'Masters', 
    'Phd'
]

experience_order = [
    '<1',
    '1',
    '2',
    '3',
    '4',
    '5',
    '6',
    '7',
    '8',
    '9',
    '10',
    '11',
    '12',
    '13',
    '14',
    '15',
    '16',
    '17',
    '18',
    '19',
    '20',
    '>20'
]

last_new_job_order = [
    'never',
    '1',
    '2',
    '3',
    '4',
    '>4'
]

company_size_order = [
    '<10',
    '10-49',
    '50-99',
    '100-499',
    '500-999',
    '1000-4999',
    '5000-9999',
    '10000+'
]

relevant_experience_order = [
    'No relevant experience',
    'Has relevant experience'
]

enrolled_university_order = [
    'no_enrollment',
    'Part time course',
    'Full time course'
]

In [181]:
# Convert columns to ordered categories
# Format: pandas.Categorical(values, categories=None, ordered=None)

customer_train['education_level'] = pd.Categorical(customer_train['education_level'], categories=education_level_order, ordered=True)

customer_train['experience'] = pd.Categorical(customer_train['experience'], categories=experience_order, ordered=True)

customer_train['last_new_job'] = pd.Categorical(customer_train['last_new_job'], categories=last_new_job_order, ordered=True)

customer_train['company_size'] = pd.Categorical(customer_train['company_size'], categories=company_size_order, ordered=True)

customer_train['relevant_experience'] = pd.Categorical(customer_train['relevant_experience'], categories=relevant_experience_order, ordered=True)

customer_train['enrolled_university'] = pd.Categorical(customer_train['enrolled_university'], categories=enrolled_university_order, ordered=True)

In [182]:
# Filter the DataFrame
ds_jobs = customer_train[(customer_train['experience'] >= '10') & (customer_train['company_size'] >= '1000-4999')]

ds_jobs.head()

    student_id      city  ...  training_hours job_change
9          699  city_103  ...             123          0
12       25619   city_61  ...              23          0
31       22293  city_103  ...             141          0
34       26494   city_16  ...             145          0
40        2547  city_114  ...              14          0

[5 rows x 14 columns]

In [183]:
# Reordering the columns
columns_sorted = [
    'student_id',
    'city',
    'city_development_index',
    'gender',
    'relevant_experience',
    'enrolled_university',
    'education_level',
    'major_discipline',
    'experience',
    'company_size',
    'company_type',
    'last_new_job',
    'training_hours',
    'job_change'
]

ds_jobs_clean = ds_jobs[columns_sorted]
ds_jobs_clean.dtypes

student_id                   int32
city                      category
city_development_index     float16
gender                    category
relevant_experience       category
enrolled_university       category
education_level           category
major_discipline          category
experience                category
company_size              category
company_type              category
last_new_job              category
training_hours               int32
job_change                   int32
dtype: object

In [184]:
# Preprocessing usage comparison
ds_jobs_clean.info()
customer_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2201 entries, 9 to 19143
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              2201 non-null   int32
 1   city                    2201 non-null   category
 2   city_development_index  2201 non-null   float16
 3   gender                  1821 non-null   category
 4   relevant_experience     2201 non-null   category
 5   enrolled_university     2185 non-null   category
 6   education_level         2184 non-null   category
 7   major_discipline        2097 non-null   category
 8   experience              2201 non-null   category
 9   company_size            2201 non-null   category
 10  company_type            2144 non-null   category
 11  last_new_job            2184 non-null   category
 12  training_hours          2201 non-null   int32
 13  job_change              2201 non-null   int32
dtypes: category(10), float16(1), int32(3)
memory usage: 76.1 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              19158 non-null  int32
 1   city                    19158 non-null  category
 2   city_development_index  19158 non-null  float16
 3   gender                  14650 non-null  category
 4   relevant_experience     19158 non-null  category
 5   enrolled_university     18772 non-null  category
 6   education_level         18698 non-null  category
 7   major_discipline        16345 non-null  category
 8   experience              19093 non-null  category
 9   company_size            13220 non-null  category
 10  company_type            13018 non-null  category
 11  last_new_job            18735 non-null  category
 12  training_hours          19158 non-null  int32
 13  job_change              19158 non-null  int32
dtypes: category(10), float16(1), int32(3)
memory usage: 456.5 KB